html {
  box-sizing: border-box;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.profile {
  width: 250px;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  box-shadow: 0 0 0.5em;
  margin-bottom: 30px;
}

.description {
  width: 250px;
  height: auto;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 0 0.2em;
}

.name {
  font-size: 18px;
  color: #2b2b2b;
  font-weight: 700;
}

.tag {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
}

.location {
  font-size: 14px;
  color: #97a2ae;
  margin-top: 10px;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #646464;
}

.list {
  flex-direction: column;
  align-items: center;
  border: solid 1px #d8e0ea;
  width: 85px;
}

.label {
  color: #c4d3e4;
  padding-top: 22px;
  font-size: 12px;
  display: flex;
}

.quantity {
  padding-bottom: 22px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  /* align-content: center; */
}
